.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.img-coffee {
  width: 246px;
}
.text-big {
  font-size: 72px;
  font-weight: 500;
  color: #968e89;
}
.m-left {
  margin-left: 40px;
}
.button {
  background-color: #968e89;
  width: 250px;
  height: 30px;
  border-radius: 4px;
}
.button:hover {
  background-color: #c9c0bb;
}
.input {
  height: 24px;
  width: 238px;
  padding: 1px 4px;
  border-color: #968e89;
  border-radius: 4px;
}
.center {
  text-align: center;
}
.margin {
  margin: 20px 0px;

}
